#passwordSharingSettings{
  #mover{
    table{
      td{
        padding: 5px;
      }
    }
    input[type="text"]{
      width: 350px;
    }
  }
  #requests-table{
    width: 100%;
  }


  .link{
    color: rgb(0, 102, 255) !important;
    cursor: pointer;
  }
  .link:hover{
    text-decoration: underline;
  }
}