
@import 'container';
@import 'variables';
@import 'mixins';
@import 'partials/button';
@import 'partials/popovermenu';
@import 'vaults';
@import 'credentials';
@import 'menu';

#app-settings-content:not(.ng-hide) {
  height: 60px;
  display: inherit !important;
  padding: 0;
  transition: height 0.15s ease-out;
}
#app-settings-content.ng-hide{
  display: inherit !important;
  height: 0;
  padding: 0;
  transition: height 0.15s ease-in;
}