
@import 'variables';
@import 'mixins';
@import 'partials/button';
@import 'partials/popovermenu';
@import 'partials/tabs';
@import 'partials/pwgen';
@import 'vaults';
@import 'credentials';
@import 'menu';
@import 'share_credential';
@import 'settings';

#app-settings-content:not(.ng-hide) {
  height: 60px;
  display: inherit !important;
  padding: 0;
  transition: height 0.15s ease-out;
}
#app-settings-content.ng-hide{
  display: inherit !important;
  height: 0;
  padding: 0;
  transition: height 0.15s ease-in;
}
.ui-dialog{
  z-index: 9999;
}
#notification{
  .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}


//
#app-content #app-content-wrapper #passman-controls {
  border-bottom: 1px solid #c9c9c9;
}


#passman-controls {
  box-sizing: border-box;
  position: fixed;
  top: 45px;
  right: 0;
  left: 0;

  padding: 0 !important;
  margin: 0;
  background-color: rgba(255, 255, 255, .95);
  z-index: 50;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  height: 44px !important;
}
@media only screen and (max-width: 768px){
  #passman-controls{
    width: 100%;
  }
}
@media only screen and (min-width: 768px){
  #app-navigation+#app-content #passman-controls {
    left: 250px;
    width: calc( 100% - 250px ) !important;
  }
}
#passman-controls .button,  #passman-controls, #passman-controls input[type='submit'],  #passman-controls input[type='text'],  #passman-controls input[type='password'],  #passman-controls select {
  box-sizing: border-box;
  display: inline-block;
  height: 36px;
  padding: 7px 10px;
}