.actions.creatable{
  padding-left: 10px;
  .bubble{
    position: relative;
    width: 185px;
    @include border-radius(5px);
    box-shadow: 0 1px 10px rgba(50, 50, 50, .7);
    ul{
      li{
        padding-left: 10px;
      }
      .menuitem{
        font-size: 12px;
        display: inline;
      }
    }
  }
  .bubble:after{
    right: inherit;
    left: 10px;
    top: -19px;
  }
}
#app-content-wrapper{
  min-height: 95%;
}