#app-content {
  overflow-x: hidden;
  #app-content-wrapper {
    min-height: 95%;
    #passman-controls{
      border-bottom: 1px solid #c9c9c9
    }
    .title{
      width: calc( 100% - 375px);
      text-align: center;
      display: inline-block;
      font-weight: bold;
      margin-top: 10px;
    }
    .actions.creatable {
      float: left;
      overflow: hidden;
      .bubble {
        position: relative;
        width: 185px;
        @include border-radius(5px);
        box-shadow: 0 1px 10px rgba(50, 50, 50, .7);
        ul {
          li {
            padding-left: 10px;
          }
          .menuitem {
            font-size: 12px;
            display: inline;
          }
        }
      }
      .bubble:after {
        right: inherit;
        left: 10px;
        top: -19px;
      }
    }

    .viewModes{
      float: right;
      margin-right: 5px;
      margin-top: 3px;
      .view-mode:first-child{
        @include border-left-radius(5px);
        border: 1px solid rgba(240,240,240,.9);
      }
      .view-mode:last-child{
        @include border-right-radius(5px);
        border: 1px solid rgba(240,240,240,.9);
      }
      .view-mode{
        display: inline-block;
        padding: 7px;
        background-color: rgba(240,240,240,.9);
      }
      .view-mode.active{
        display: inline-block;
        padding: 7px;
        background-color: rgba(226, 226, 226, 0.9);
      }
      .view-mode{
        cursor: pointer;
        display: inline-block;
        padding: 7px;
      }
    }

    .searchboxContainer{
      display: inline-block;
      margin-right: 14px;
      float: right;
      .searchbox{
        display: inline-block;
      }
    }
    .credential-table {
      width: 100%;
      margin-top: 44px;
      tr:hover {
        background-color: darken(#fff, 4%);
      }
      tr {
        &.selected {
          background-color: #f8f8f8;
        }
        td {
          cursor: pointer;
          padding: 5px;
          border-bottom: 1px solid #eeeeee;
          .icon{
            font-size: 19px;
            float: left;
            margin-right: 5px;
            margin-left: 3px;
          }

          .icon-more {
            display: inline-block;
            float: right;
            margin-left: 5px;
            margin-top: 1px;
            opacity: 0.4;
            height: 20px;
            width: 32px;
            cursor: pointer;
          }
          .icon-more:hover {
            opacity: 1;
          }
          .popovermenu {
            margin-top: 25px;
            height: 100px;
            width: 100px;
            right: -2px !important;
            box-shadow: 0 1px 10px rgba(50, 50, 50, .7);
            ul {
              display: block;
              width: 100px;
              height: 75px;
              li {
                padding: 0px;
              }
              .menuitem {
                font-size: 12px;
                display: inline;
              }
            }
            .action {
              padding: 10px;
              margin: -10px;
            }
          }
        }
      }
    }

    .tags {
      float: right;
      .tag {
        background-color: rgba(240, 240, 240, .9);
        padding: 4px;
        font-size: 12px;
        margin-right: 3px;
        @include border-radius(5px);
      }
      .tag:last-child{
        margin-right: 8px;
      }
    }

    .grid-view{
      margin-top: 44px;
      display: flex;
      flex-wrap: wrap;
      .credential{
        display: flex;
        width: 100%;
        border: 2px solid rgba(240,240,240,.9);
        margin: 25px;
        @include border-radius(10px);
        .credential_content{
          display: flex;
          padding: 2px;
          flex-direction: column;
          width: 100%;
          cursor: pointer;
          font-size: 1.75em; 
          text-align: center;
          .label{
            padding-top: 0.5em;
            padding-left: 1em;
            padding-right: 1em;
            line-height: 1.3em;
            word-wrap: break-word;
          }
          .tags{
            margin-bottom: 0.5em;
            .tag{
              color: #000 !important;
              margin-top: 5px;
              display: inline-block;
            }
          }
        }
      }
      @media all and (min-width: 40em) {
        .credential {
          width: 40%;
        }
      }
      @media all and (min-width: 58em) {
        .credential {
          width: 26%;
        }
      }
      @media all and (min-width: 78em) {
        .credential {
          width: 20%;
        }
      }


    }

    .edit_credential {
      label {
        display: block;
      }
      input[type="text"], input[type="password"] {
        width: 100%;
      }
      .tags {
        float: left;
        .tag {
          background-color: rgba(240, 240, 240, .9);
          padding: 4px;
          font-size: 11px;
        }
      }
      tags-input {
        .tags {
          width: 100%;
          .input {
          }
        }
      }
      .credential_textarea {
        width: 100%;
        height: 100px;
      }
      .password_settings {
        label {
          overflow: hidden;
          input[type="checkbox"] {
            width: auto !important;
            float: left;
          }
          .label {
            &.sm {
              font-size: 12px;
            }
            float: left;
          }
        }
      }
      .custom_fields, .files {
        margin-top: 10px;
        table {
          width: 100%;
          thead {
            th {
              color: #fff;
            }
            th.field_actions {
              width: 15%;
            }
          }
          tr:hover {
            background-color: transparent;
          }
          tr {
            td.field_actions {
              font-size: 13px;
              width: 15%;
              i {
                cursor: pointer;
              }
            }
            td, th {
              width: 20%;
              padding: 5px;
              .editable-has-buttons.editable-input {
                width: 55%;
              }
            }
            td {
              height: 50px;
              vertical-align: middle;
            }
          }
        }
      }
      .file_tab {

      }
    }
    .app_sidebar {
      .close.icon-close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
      padding: 10px;
      &.item_selected {
        height: 25%;
        display: inline-block;
      }
      overflow-y: auto;
      table {
        width: 100%;
        margin-bottom: 10px;
        tr:hover {
          background-color: #fff;
        }
        tr {
          td:first-child {

          }
          td {
            padding: 2px;
            width: auto;
            white-space: nowrap;
            height: 25px;
            vertical-align: middle;

          }
        }
      }
      .tags {
        margin-top: 15px;
        margin-bottom: 15px;
        float: none;
        .tag {
          background-color: rgba(240, 240, 240, .9);
          padding: 4px;
          margin-right: 3px;
        }
      }

    }
  }
}

.credential_field {
  overflow: hidden;
  .cell, .value {
    float: left;
  }
  .tools {
    margin-left: 10px;
    overflow: hidden;
    float: left;
    .cell {
      cursor: pointer;
      margin-right: 4px;
    }
  }
}
.progress {
  margin-top: 10px;
  height: 10px;
  .progress-bar {
    height: 10px;
    background-image: none;
    background-color: #0082c9;
  }
}


.loaderContainer{
  height: 140px;
  width: 120px;
  margin-top: 30px;
  margin-left: -60px;
  top: 50%;
  left: 50%;
  position: absolute;
}
.loaderContainer .text{
  width: 120px;
  text-align: center;
}
.loader{
  border-bottom: 10px solid #1d2d44;
  border-left: 10px solid #c9c9c9;
  border-right: 10px solid #c9c9c9;
  border-top: 10px solid #c9c9c9;
  height: 120px;
  width: 120px;
  border-radius: 120px;
  animation: 1.1s linear 0s normal none infinite running load8;
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}