.credential-table {
  width: 100%;
  margin-top: 44px;
  tr:hover {
    background-color: darken(#fff, 4%);
  }
  tr {
    td {
      cursor: pointer;
      padding: 5px;
      border-bottom: 1px solid #eeeeee;
      .label {
        float: left;
      }
      .tags {
        float: right;
        .tag {
          background-color: rgba(240, 240, 240, .9);
          padding: 4px;
          font-size: 11px;
        }
      }
      .icon-more {
        display: inline-block;
        float: right;
        margin-left: 5px;
        margin-top: 1px;
        opacity: 0.4;
        height: 20px;
        width: 32px;
        cursor: pointer;
      }
      .icon-more:hover {
        opacity: 1;
      }
      .popovermenu {
        margin-top: 7px;
        height: 100px;
        width: 100px;
        right: -2px !important;
        box-shadow: 0 1px 10px rgba(50, 50, 50, .7);
        ul {
          display: block;
          width: 100px;
          height: 75px;
          li {
            padding: 0px;
          }
          .menuitem {
            font-size: 12px;
            display: inline;
          }
        }
        .action {
          padding: 10px;
          margin: -10px;
        }
      }
    }
  }
}

.edit_credential {
  label {
    display: block;
  }
  input[type="text"], input[type="password"] {
    width: 100%;
  }
  .tags {
    float: left;
    .tag {
      background-color: rgba(240, 240, 240, .9);
      padding: 4px;
      font-size: 11px;
    }
  }
  .credential_textarea {
    width: 100%;
    height: 100px;
  }
  .password_settings {
    label {
      overflow: hidden;
      input[type="checkbox"] {
        width: auto !important;
        float: left;
      }
      .label {
        &.sm{
          font-size: 12px;
        }
        float: left;
      }
    }
  }
  .custom_fields {
    margin-top: 10px;
    table {
      width: 100%;
      thead {
        th {
          background-color: #0082c9;
          color: #fff;
        }
        th.field_actions {
          width: 15%;
        }
      }
      tr {
        td.field_actions {
          font-size: 13px;
        }
        td, th {

          padding: 5px;
        }
      }
    }
  }
}