#app-content {
  overflow-x: hidden;
  #app-content-wrapper {
    min-height: 95%;
    .actions.creatable {
      padding-left: 10px;
      .bubble {
        position: relative;
        width: 185px;
        @include border-radius(5px);
        box-shadow: 0 1px 10px rgba(50, 50, 50, .7);
        ul {
          li {
            padding-left: 10px;
          }
          .menuitem {
            font-size: 12px;
            display: inline;
          }
        }
      }
      .bubble:after {
        right: inherit;
        left: 10px;
        top: -19px;
      }
    }
    .credential-table {
      width: 100%;
      margin-top: 44px;
      tr:hover {
        background-color: darken(#fff, 4%);
      }
      tr {
        &.selected {
          background-color: #f8f8f8;
        }
        td {
          cursor: pointer;
          padding: 5px;
          border-bottom: 1px solid #eeeeee;
          .label {
            float: left;
          }
          .tags {
            float: right;
            .tag {
              background-color: rgba(240, 240, 240, .9);
              padding: 4px;
              font-size: 11px;
            }
          }
          .icon-more {
            display: inline-block;
            float: right;
            margin-left: 5px;
            margin-top: 1px;
            opacity: 0.4;
            height: 20px;
            width: 32px;
            cursor: pointer;
          }
          .icon-more:hover {
            opacity: 1;
          }
          .popovermenu {
            margin-top: 25px;
            height: 100px;
            width: 100px;
            right: -2px !important;
            box-shadow: 0 1px 10px rgba(50, 50, 50, .7);
            ul {
              display: block;
              width: 100px;
              height: 75px;
              li {
                padding: 0px;
              }
              .menuitem {
                font-size: 12px;
                display: inline;
              }
            }
            .action {
              padding: 10px;
              margin: -10px;
            }
          }
        }
      }
    }

    .edit_credential {
      padding-top: 10px;
      label {
        display: block;
      }
      input[type="text"], input[type="password"] {
        width: 100%;
      }
      .tags {
        float: left;
        .tag {
          background-color: rgba(240, 240, 240, .9);
          padding: 4px;
          font-size: 11px;
        }
      }
      .credential_textarea {
        width: 100%;
        height: 100px;
      }
      .password_settings {
        label {
          overflow: hidden;
          input[type="checkbox"] {
            width: auto !important;
            float: left;
          }
          .label {
            &.sm {
              font-size: 12px;
            }
            float: left;
          }
        }
      }
      .custom_fields, .files {
        margin-top: 10px;
        table {
          width: 100%;
          thead {
            th {
              color: #fff;
            }
            th.field_actions {
              width: 15%;
            }
          }
          tr:hover{
            background-color: transparent;
          }
          tr {
            td.field_actions {
              font-size: 13px;
              width: 15%;
              i {
                cursor: pointer;
              }
            }
            td, th {
              width: 20%;
              padding: 5px;
              .editable-has-buttons.editable-input {
                width: 55%;
              }
            }
            td {
              height: 50px;
              vertical-align: middle;
            }
          }
        }
      }
      .file_tab {
        .progress {
          margin-top: 10px;
          height: 10px;
          .progress-bar {
            height: 10px;
            background-image: none;
            background-color: #0082c9;
          }
        }
      }
    }
    .app_sidebar {
      .close.icon-close {
        position: absolute;
        top: 10px;
        right: 10px;
      }
      padding: 10px;
      &.item_selected {
        height: 25%;
        display: inline-block;
      }
      overflow-y: auto;
      table {
        width: 100%;
        margin-bottom: 10px;
        tr:hover{
          background-color: #fff;
        }
        tr {
          td:first-child {

          }
          td {
            padding: 2px;
            width: auto;
            white-space: nowrap;
            height: 20px;
            vertical-align: middle;
          }
        }
      }

    }
  }
}

.credential_field {
  overflow: hidden;
  .cell, .value {
    float: left;
  }
  .tools {
    margin-left: 10px;
    overflow: hidden;
    float: left;
    .cell{
      cursor: pointer;
      margin-right: 4px;
    }
  }
}