@import 'variables';
@import 'mixins';
header {
  display: none;
}

#content-wrapper {
  padding-top: 0;
}

.credential_container{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background: #f8f8f8;
  border: 1px solid #c9c9c9;
  @include border-radius(5px);
  .text{
   text-align: center;
  }
  h2{
    font-weight: bold;
  }
  button, .text{
    margin: 0 auto;
    display: block;
    i{
      margin-right: 5px;
    }
  }
}

.credential_field {
  overflow: hidden;
  .cell, .value {
    float: left;
  }
  .tools {
    margin-left: 10px;
    overflow: hidden;
    float: left;
    .cell {
      cursor: pointer;
      margin-right: 4px;
    }
  }
}
table{
   white-space: normal;
    td:first-child{
      min-width: 110px;
    }
    td{
      padding-bottom: 1em;
    }
}

.tags {
  .tag {
    background-color: rgba(240, 240, 240, .9);
    padding: 4px;
    font-size: 12px;
    margin-right: 3px;
    @include border-radius(5px);
  }
  .tag:last-child {
    margin-right: 8px;
  }
}
.footer{
  font-size: 10px;
  position: relative;
  bottom: -20px;
  text-align: center;
}