.scan-result-table{
  margin-top: 10px;
  .score{
    padding-left: 0px;
    padding-right: 15px;
  }
}
.error{
  color: #ce3702;
}
.import_log {
  max-height: 600px;
  overflow-y: auto;
  textarea{
    width: 90%;
    height: 200px;
  }
}