.sharing_table {


  td:first-child {
    width: 55%;
    tags-input {
      .tags {
        width: 100%;
        input {
          //width: 90% !important;
        }
      }
    }
    .autocomplete {
      margin-top: 35px;
    }
  }
}

.table {
  width: 100%;
}
.share_credential{
  padding-top: 10px;
  input{
    width: auto;
  }
  >div{
    margin-bottom: 10px;
  }
}
.shared_table {
  .fa-trash {
    cursor: pointer;
  }
  .fa-trash:hover {
    color: #ce3702;
  }
}