.warning_bar{
  position: absolute;
  width: 100%;
  padding: 12px;
  font-weight: bold;
  text-align: center;
  z-index: 800;
  background-color: red;
  color: white;
  .fa-times{
    float: right;
    color: #000;
    cursor: pointer;
  }
}
.vault_wrapper{
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  max-width: 420px;
  @include border-radius(5px);
  box-shadow: 0 1px 1px #777;
  background: #eee;
  display: block;
  .vaultlist{

    z-index: 500;
    li,div,span,small{
      cursor: pointer;
    }
    small{
      color: #8e8e8e;
    }
    li.selected{
      background-color: #0082c9 !important;
      color: #ddd;
    }
    li{
      border-bottom: 1px solid #8e8e8e;
      padding: 16px;
    }
    li:hover{
      background-color: #f7f7f7;
    }
  }
  .login_form{
    padding: 16px;
    .error{
      color: #ce3702;
    }
    .pw-input{
      .last_access{
        color: #8e8e8e;
      }
    }
    input[type="password"], input[type="text"]{
      width: 100%;
      @include border-radius(5px);
    }
    .button_wrapper{
      .button{
        width: 45%;
        display: inline-block;
      }
    }
    .button{
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 768px){
  .vault_wrapper{
    width: 90%;
  }
}