<div id="controls">
	<div class="actions creatable">
		<div class="breadcrumb">
			<div class="crumb svg ui-droppable" data-dir="/">
				<a ng-click="logout()"><i class="fa fa-home"></i></a>
			</div>
			<div class="crumb svg" data-dir="/Test">
				<a ng-click="cancel()">{{active_vault.name}}</a>
			</div>
			<div class="crumb svg last" data-dir="/Test">
				<a ng-if="storedCredential.credential_id">Showing revisions of "{{storedCredential.label}}"</a>

			</div>
		</div>
	</div>
</div>

Show revisions...