<div id="controls">
	<div class="actions creatable">
		<div class="breadcrumb">
			<div class="crumb svg ui-droppable" data-dir="/">
				<a ng-click="logout()"><i class="fa fa-home"></i></a>
			</div>
			<div class="crumb svg" data-dir="/Test">
				<a ng-click="cancel()">{{active_vault.name}}</a>
			</div>
			<div class="crumb svg last" data-dir="/Test">
				<a ng-if="storedCredential.credential_id">{{ 'showing.revisions' | translate}} "{{storedCredential.label}}"</a>

			</div>
		</div>
	</div>
</div>


<div off-click="closeSelected()">
	<table class="credential-table" ng-init="menuOpen = false;">
		<tr ng-repeat="revision in revisions | orderBy:'-created'"
			ng-click="selectRevision(revision)"
			ng-class="{'selected': selectedRevision.revision_id == revision.revision_id}">
			<td>
				<span class="icon"><i class="fa fa-lock"></i> </span>
				<span class="label">
					{{ 'revision.of' | translate}} {{revision.created * 1000 | date:'dd-MM-yyyy @ HH:mm:ss'}} ({{revision.credential_data.label}})
					<span ng-if="revision.edited_by">{{ 'revision.edited.by' | translate}} {{revision.edited_by}}</span></span>
			</td>
		</tr>
		<tr ng-show="revisions.length == 0">
			<td>{{ 'no.revisions' | translate}}</td>
		</tr>
	</table>

	<div id="app-sidebar" class="detailsView scroll-container app_sidebar"
		 ng-show="selectedRevision">
		<span class="close icon-close" ng-click="closeSelected()"
			  alt="Close"></span>
		<b ng-show="selectedRevision">{{ 'revision.of' | translate}} {{selectedRevision.created * 1000 | date:'dd-MM-yyyy @ HH:mm:ss'}}</b>
		<table class="revision-details">
			<tr ng-show="selectedRevision.credential_data.label">
				<td>
					{{ 'label' | translate}}
				</td>
				<td>
					{{selectedRevision.credential_data.label}}
				</td>
			</tr>
			<tr ng-show="selectedRevision.credential_data.username">
				<td>
					{{ 'account' | translate}}
				</td>
				<td>
					<span credential-field
						  value="selectedRevision.credential_data.username"></span>
				</td>
			</tr>
			<tr ng-show="selectedRevision.credential_data.password">
				<td>
					{{ 'password' | translate}}
				</td>
				<td>
					<span credential-field value="selectedRevision.credential_data.password"
						  secret="'true'"></span>
				</td>
			</tr>
			<tr ng-show="selectedRevision.credential_data.otp.secret">
				<td>
					{{ 'otp' | translate}}
				</td>
				<td>
					<span otp-generator
						  secret="selectedRevision.credential_data.otp.secret"></span>
				</td>
			</tr>
			<tr ng-show="selectedRevision.credential_data.email">
				<td>
					{{ 'email' | translate}}
				</td>
				<td>
					<span credential-field
						  value="selectedRevision.credential_data.email"></span>
				</td>
			</tr>
			<tr ng-show="selectedRevision.credential_data.url">
				<td>
					{{ 'url' | translate}}
				</td>
				<td>
					<span credential-field
						  value="selectedRevision.url"></span>
				</td>
			</tr>
			<tr ng-show="selectedRevision.credential_data.files.length > 0">
				<td>
					{{ 'files' | translate}}
				</td>
				<td>
					<div ng-repeat="file in selectedRevision.credential_data.files"
						 class="link" ng-click="downloadFile(file)">
						{{file.filename}} ({{file.size | bytes}})
					</div>
				</td>
			</tr>
			<tr ng-repeat="field in selectedRevision.credential_data.custom_fields">
				<td>
					{{field.label}}
				</td>
				<td>
					<span credential-field value="field.value"
						  secret="field.secret"></span>
				</td>
			</tr>
			<tr ng-show="selectedRevision.credential_data.changed">
				<td>
					{{ 'changed' | translate}}
				</td>
				<td>
					{{selectedRevision.credential_data.changed * 1000 | date:'dd-MM-yyyy @ HH:mm:ss'}}
				</td>
			</tr>
			<tr ng-show="selectedRevision.credential_data.created">
				<td>
					{{ 'created' | translate}}
				</td>
				<td>
					{{selectedRevision.credential_data.created * 1000 | date:'dd-MM-yyyy @ HH:mm:ss'}}
				</td>
			</tr>

		</table>

		<div ng-show="selectedRevision">
			<button class="button" ng-click="restoreRevision(selectedRevision)" >
				<span class="fa fa-edit"></span> {{ 'restore.revision' | translate}}
			</button>
			<button class="button" ng-click="deleteRevision(selectedRevision)" >
				<span class="fa fa-trash"></span> {{ 'delete.revision' | translate}}
			</button>
		</div>

	</div>
</div>
