<div id="passman-controls">

	<div class="breadcrumb">
		<div class="breadcrumb">
			<div class="crumb svg ui-droppable" data-dir="/">
				<a ng-click="logout()"><i class="fa fa-home"></i></a>
			</div>
			<div class="crumb svg" data-dir="/Test">
				<a ng-click="cancel()">{{active_vault.name}}</a>
			</div>
			<div class="crumb svg last crumb_overrides" data-dir="/Test">
				<a class="crumb_overrides" ng-if="storedCredential.credential_id">{{ 'edit.credential' | translate}}
					"{{storedCredential.label}}"</a>
				<a class="crumb_overrides" ng-if="!storedCredential.credential_id">{{ 'create.credential' | translate}}</a>
			</div>
		</div>

	</div>
</div>
<div class="view_container edit_credential" >
	<div ng-include="currentTab.url"></div>
	<button ng-click="saveCredential()" ng-disabled="saving"><i class="fa fa-spinner fa-spin" ng-show="saving"></i> {{ 'save' | translate}}</button>
	<button ng-click="cancel()">{{ 'cancel' | translate}}</button>
</div>
