<div id="passman-controls">
    <div class="breadcrumb">
        <ul class="breadcrumb">
            <li class="crumb svg crumbhome">
                <a ng-click="logout()" class="icon-home">Home</a>
                <span style="display: none;"></span>
            </li>
            <li class="crumb svg" data-dir="/Test">
                <a ng-click="cancel()">{{ active_vault.name }}</a>
            </li>
            <li class="crumb svg last" data-dir="/Test">
                <a ng-if="storedCredential.credential_id">{{ 'edit.credential' | translate }}
                    "{{ storedCredential.label }}"</a>
                <a ng-if="!storedCredential.credential_id">{{ 'create.credential' | translate }}</a>
            </li>
        </ul>

    </div>
</div>
<div class="app-sidebar-tabs">
    <nav class="app-sidebar-tabs__nav">
        <ul>
            <li ng-repeat="tab in tabs track by $index" class="app-sidebar-tabs__tab"
                ng-class="isActiveTab(tab)? 'active' : 'inactive'"
                ng-click="onClickTab(tab)">{{ tab.title }}
            </li>
        </ul>
    </nav>

    <div class="tab_container edit_credential" use-theme type="'border-top-color'">
        <div ng-include="currentTab.url"></div>
        <button ng-click="saveCredential()" ng-disabled="saving"><i class="fa fa-spinner fa-spin" ng-show="saving"></i>
            {{ 'save' | translate }}
        </button>
        <button ng-click="cancel()">{{ 'cancel' | translate }}</button>
    </div>
</div>
