<div id="passman-controls">
    <div class="breadcrumb">
        <ul class="breadcrumb">
            <li class="crumb svg crumbhome">
                <a ng-click="logout()" class="icon-home">Home</a>
                <span style="display: none;"></span>
            </li>
            <li class="crumb svg">
                <a ng-click="cancel()">{{ active_vault.name }}</a>
            </li>
            <li class="crumb svg last">
                <a>{{ 'settings' | translate }}</a>
            </li>
        </ul>
    </div>
</div>

<div class="app-sidebar-tabs">
    <nav class="app-sidebar-tabs__nav">
        <ul>
            <li ng-repeat="tab in tabs track by $index" class="app-sidebar-tabs__tab"
                ng-class="isActiveTab(tab)? 'active' : 'inactive'"
                ng-click="onClickTab(tab)">{{ tab.title | translate }}
            </li>
        </ul>
    </nav>

    <div class="tab_container settings edit_credential" use-theme type="'border-top-color'">
        <div ng-include="currentTab.url"></div>
    </div>
</div>
