<div id="passman-controls">
    <div class="breadcrumb">
        <div class="breadcrumb">
            <div class="crumb svg ui-droppable" data-dir="/">
                <a ng-click="logout()"><i class="fa fa-home"></i></a>
            </div>
            <div class="crumb svg">
                <a ng-click="cancel()">{{active_vault.name}}</a>
            </div>
            <div class="crumb svg last">
                <a>{{ 'settings' | translate}}</a>
            </div>
        </div>
    </div>
</div>

<div class="view_container edit_credential" ng-include="currentTab.url"></div>