<div id="controls">
	<div class="actions creatable">
		<div class="breadcrumb">
			<div class="crumb svg ui-droppable" data-dir="/">
				<a ng-click="logout()"><i class="fa fa-home"></i></a>
			</div>
			<div class="crumb svg" data-dir="/Test">
				<a ng-click="cancel()">{{active_vault.name}}</a>
			</div>
			<div class="crumb svg last" data-dir="/Test">
				<a ng-if="storedCredential.credential_id">Share credential
					"{{storedCredential.label}}"</a>
			</div>
		</div>
	</div>
</div>
<ul class="tab_header">
	<li ng-repeat="tab in tabs track by $index" class="tab"
		ng-class="{active:isActiveTab(tab)}"
		ng-click="onClickTab(tab)" use-theme color="'true'">{{tab.title}}</li>
	<div class="indicator"  use-theme negative="'true'"></div>
</ul>

<div class="tab_container share_credential">
	<div ng-include="currentTab.url"></div>

	<button ng-click="applyShare()">Share</button>
	<button ng-click="cancel()">Cancel</button>
	<button class="btn btn-danger" ng-click="unshareCredential(storedCredential)">Unshare</button>
</div>


