<div id="passman-controls">
    <div class="actions creatable">
        <div class="breadcrumb">
            <div class="crumb svg crumbhome">
                <a ng-click="logout()" class="icon-home">Home</a>
                <span style="display: none;"></span>
            </div>
            <div class="crumb svg" data-dir="/Test">
                <a ng-click="cancel()">{{ active_vault.name }}</a>
            </div>
            <div class="crumb svg last" data-dir="/Test">
                <a ng-if="storedCredential.credential_id">
                    {{ 'share.credential' | translate }} {{ storedCredential.label }}
                </a>
            </div>
        </div>
    </div>
</div>
<div class="app-sidebar-tabs">
    <nav class="app-sidebar-tabs__nav">
        <ul>
            <li ng-repeat="tab in tabs track by $index" class="app-sidebar-tabs__tab"
                ng-class="isActiveTab(tab)? 'active' : 'inactive'"
                ng-click="onClickTab(tab)">{{ tab.title | translate }}
            </li>
        </ul>
    </nav>

    <div class="tab_container share_credential" ng-show="currentTab">
        <div ng-include="currentTab.url"></div>

        <button ng-click="applyShare()"
                ng-disabled="share_settings.linkSharing.enabled === false && share_settings.credentialSharedWithUserAndGroup.length === 0">
            {{ 'share' | translate }}
        </button>
        <button ng-click="cancel()">{{ 'cancel' | translate }}</button>
        <button class="btn btn-danger" ng-disabled="!storedCredential.shared_key"
                ng-click="unshareCredential(storedCredential)">{{ 'unshare' | translate }}
        </button>
    </div>
</div>
