<div class="main_list.share">
	<div id="passman-controls">
	<div class="actions creatable">
		<div class="breadcrumb">
			<div class="crumb svg ui-droppable" data-dir="/">
				<a ng-click="logout()"><i class="fa fa-home"></i></a>
			</div>
			<div class="crumb svg" data-dir="/Test">
				<a ng-click="cancel()">{{active_vault.name}}</a>
			</div>
			<div class="crumb svg last" data-dir="/Test">
				<a ng-if="storedCredential.credential_id">
					{{ 'share.credential' | translate}} {{storedCredential.label}}
				</a>
			</div>
		</div>
	</div>
</div>
	<ul class="tab_header">
		<li ng-repeat="tab in tabs track by $index" class="tab"
			ng-class="{active:isActiveTab(tab)}"
			ng-click="onClickTab(tab)" use-theme color="'true'">{{tab.title | translate}}
			<div class="indicator"  use-theme negative="'true'"></div>
		</li>
	</ul>
	<div class="tab_container share_credential" ng-show="currentTab">
	<div ng-include="currentTab.url"></div>

	<button ng-click="applyShare()" ng-disabled="share_settings.linkSharing.enabled === false && share_settings.credentialSharedWithUserAndGroup.length === 0">{{ 'share' | translate}}</button>
	<button ng-click="cancel()">{{ 'cancel' | translate}}</button>
	<button class="btn btn-danger" ng-disabled="!storedCredential.shared_key" ng-click="unshareCredential(storedCredential)">{{ 'unshare' | translate}}</button>
</div>
</div>

