<div id="passman-controls">
	<div class="breadcrumb">
		<div class="breadcrumb">
			<div class="crumb svg ui-droppable" data-dir="/">
				<a><i class="fa fa-home"></i></a>
			</div>
			<div class="crumb svg last">
				<a>{{active_vault.name}}</a>
			</div>
		</div>
	</div>
	<span class="title" ng-if="delete_time">
			Showing deleted since:
			<span ng-if="delete_time == 1">All time</span>
			<span ng-if="delete_time > 1">{{delete_time | date:'dd-MM-yyyy @ HH:mm:ss'}}</span>

	</span>
	<div class="actions creatable">
		<span ng-click="menuOpen = !menuOpen" class="button new"
			  ng-init="menuOpen = false" off-click="menuOpen = false;">
			<span
			>+</span></span>
		<div class="actionList popovermenu bubble menu" ng-show="menuOpen">
			<ul>
				<li>
						<span ng-click="addCredential()"
							  class="menuitem action">
							<span
									class="icon icon-rename"></span>
							<span>New credential</span>
						</span>
				</li>
				<li>
						<span href="#" class="menuitem action">
							<span class="icon icon-shared"></span>
							<span>New shared credential</span>
						</span>
				</li>
			</ul>
		</div>


	</div>
	<div class="searchboxContainer">
		<input type="text" ng-model="filterOptions.filterText" class="searchbox"
			   placeholder="Search credential..." select-on-click>
	</div>
</div>
<div off-click="closeSelected()">

	<div class="loaderContainer" ng-show="show_spinner">
		<div class="loader" use-theme type="'border-bottom-color'"></div>
	</div>

	<table class="credential-table" ng-init="menuOpen = false;">
		<tr ng-repeat="credential in credentials | credentialSearch:filterOptions | tagFilter:selectedtags | orderBy:'label'| as:this:'filtered_credentials'"
			ng-if="credential.hidden == 0 && showCredentialRow(credential)"
			ng-click="selectCredential(credential)"
			ng-class="{'selected': selectedCredential.credential_id == credential.credential_id}">
			<td>
				<span class="icon"><i class="fa fa-lock"></i> </span>
				<span class="label">{{credential.label}}</span>
				<span class="tags">
				<span class="tag" ng-repeat="tag in credential.tags_raw">{{tag.text}}</span>

			</span>
			</td>
		</tr>
	</table>

	<div id="app-sidebar" class="detailsView scroll-container app_sidebar"
		 ng-show="selectedCredential">
		<span class="close icon-close" ng-click="closeSelected()"
			  alt="Close"></span>
		<table>
			<tr ng-show="selectedCredential.label">
				<td>
					Label
				</td>
				<td>
					{{selectedCredential.label}}
				</td>
			</tr>
			<tr ng-show="selectedCredential.username">
				<td>
					Account
				</td>
				<td>
					<span credential-field
						  value="selectedCredential.username"></span>
				</td>
			</tr>
			<tr ng-show="selectedCredential.password">
				<td>
					Password
				</td>
				<td>
					<span credential-field value="selectedCredential.password"
						  secret="'true'"></span>
				</td>
			</tr>
			<tr ng-show="selectedCredential.otp.secret">
				<td>
					OTP
				</td>
				<td>
					<span otp-generator
						  secret="selectedCredential.otp.secret"></span>
				</td>
			</tr>
			<tr ng-show="selectedCredential.email">
				<td>
					E-mail
				</td>
				<td>
					<span credential-field
						  value="selectedCredential.email"></span>
				</td>
			</tr>
			<tr ng-show="selectedCredential.url">
				<td>
					URL
				</td>
				<td>
					<span credential-field
						  value="selectedCredential.url"></span>
				</td>
			</tr>
			<tr ng-show="selectedCredential.files.length > 0">
				<td>
					Files
				</td>
				<td>
					<div ng-repeat="file in selectedCredential.files"
						 class="link" ng-click="downloadFile(file)">
						{{file.filename}} ({{file.size | bytes}})
					</div>
				</td>
			</tr>
			<tr ng-repeat="field in selectedCredential.custom_fields">
				<td>
					{{field.label}}
				</td>
				<td>
					<span credential-field value="field.value"
						  secret="field.secret"></span>
				</td>
			</tr>
			<tr ng-show="selectedCredential.expire_time > 0">
				<td>
					Expire time
				</td>
				<td>
					{{selectedCredential.expire_time * 1000 | date:'dd-MM-yyyy @ HH:mm:ss'}}
				</td>
			</tr>
			<tr ng-show="selectedCredential.changed">
				<td>
					Changed
				</td>
				<td>
					{{selectedCredential.changed * 1000 | date:'dd-MM-yyyy @ HH:mm:ss'}}
				</td>
			</tr>
			<tr ng-show="selectedCredential.created">
				<td>
					Created
				</td>
				<td>
					{{selectedCredential.created * 1000 | date:'dd-MM-yyyy @ HH:mm:ss'}}
				</td>
			</tr>

		</table>

		<div class="tags">
				<span class="tag" ng-repeat="tag in selectedCredential.tags">{{tag.text}}</span>
		</div>

		<div ng-show="selectedCredential">
			<button class="button" ng-click="editCredential(selectedCredential)" ng-if="selectedCredential.delete_time == 0" >
				<span class="fa fa-edit"></span> Edit
			</button>
			<button class="button" ng-click="deleteCredential(selectedCredential)" ng-if="selectedCredential.delete_time == 0" >
				<span class="fa fa-trash" ></span> Delete
			</button>
			<button class="button" ng-click="shareCredential(selectedCredential)"  ng-if="selectedCredential.delete_time == 0" >
				<span class="fa fa-share"></span> Share
			</button>

			<button class="button" ng-click="getRevisions(selectedCredential)"  ng-if="selectedCredential.delete_time == 0" >
				<span class="fa fa-undo"></span> Revisions
			</button>

			<button class="button" ng-if="selectedCredential.delete_time > 0"
				  ng-click="recoverCredential(selectedCredential)">
				<span class="fa fa-recycle"></span> Recover
			</button>
			<button class="button" ng-if="selectedCredential.delete_time > 0"
				  ng-click="destroyCredential(selectedCredential)">
				<span class="fa fa-bomb"></span> Destroy
			</button>
		</div>
	</div>
</div>