# IDE stuff
.idea
.vscode

# dependencies
node_modules
vendor

# artifacts
.sass-cache
npm-debug.log
dist

# don't mess with other dev's config
launch_phpunit.sh

# since we are using only dev dependencies atm, we can exclude it from polluting the repo
composer.lock

# PHPUnit
/tests/Unit/.phpunit.cache
/tests/Unit/.phpunit.result.cache
/build/php-unit.clover
