<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/unit</directory>
            <exclude>./tests/unit/lib/Db</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./lib/Utility</directory>
            <directory suffix=".php">./lib/BackgroundJob</directory>
            <directory suffix=".php">./controller</directory>

            <!--<file>/path/to/file</file>-->
            <!--<exclude>-->
            <!--<directory suffix=".php">/path/to/dir</directory>-->
            <!--<file>/path/to/file</file>-->
            <!--</exclude>-->
        </whitelist>

    </filter>
</phpunit>