<div ng-controller="ExportCtrl">
	<div class="row">
		<div class="col-xs-6">
			<label>Export type
				<select ng-init="raw" ng-model="raw"
						ng-change="setExporter(raw)">
					<option ng-repeat="exporter in available_exporters"
							value="{{exporter}}">
						{{exporter.name}}
					</option>
				</select></label>
			<div><b>{{selectedExporter.description}}</b></div>
			<button class="button" ng-click="startExport()"
					ng-if="selectedExporter">Export
			</button>
		</div>
		<div class="col-xs-6">
			<div ng-if="log" class="import_log">
				<textarea id="import_log" auto-scroll="log">{{log.join('\n')}}</textarea>
			</div>
		</div>
	</div>
</div>