<div ng-controller="ExportCtrl">
	<div class="row">
		<div class="col-xs-6">
			<label>{{ 'export.type' | translate}}
				<select ng-init="raw" ng-model="raw"
						ng-change="setExporter(raw)">
					<option ng-repeat="exporter in available_exporters"
							value="{{exporter}}">
						{{exporter.name}}
					</option>
				</select></label>
			<div><b>{{selectedExporter.description}}</b></div>

			<div ng-show="selectedExporter" class="nopadding">
				<label>{{ 'export.confirm.text' | translate }}</label>
				<input type="password" ng-model="confirm_key">
				<br />
				<div class="alert alert-warning" ng-show="error">
					{{error}}
				</div>
			</div>
			<div class="clearfix">
				<button class=" button" ng-click="startExport()"
						ng-if="selectedExporter">{{ 'export' | translate}}
				</button>
			</div>
		</div>

		<div class="col-xs-6">
			<div ng-if="log" class="import_log">
				<textarea id="import_log"
						  auto-scroll="log">{{log.join('\n')}}</textarea>
			</div>
		</div>
	</div>
</div>
