<div class="row">
	<div class="col-xs-12 col-md-6">
		<h3>{{ 'rename.vault' | translate}}</h3>
		<label>{{ 'rename.vault.name' | translate}}</label>
		<input type="text" ng-model="$parent.new_vault_name">
		<button ng-click="saveVaultSettings()">
			{{ 'change' | translate}}
		</button>


		<h3>{{ 'change.vault.key' | translate}}</h3>
		<label>{{ 'old.vault.password' | translate}}</label>
		<input type="password" ng-model="oldVaultPass">
		<label>{{ 'new.vault.password' | translate}}</label>
		<input type="password" ng-model="newVaultPass" />
		<ng-password-meter password="newVaultPass" score="vault_key_score"></ng-password-meter>
		<label>{{ 'new.vault.pw.r' | translate}}</label>
		<input type="password" ng-model="newVaultPass2">
		<div ng-show="error || vault_key_score.score < minimal_value_key_strength" class="error">
			<ul>
				<li>{{error}}</li>
				<li ng-show="vault_key_score.score < minimal_value_key_strength">{{'min.vault.key.strength' | translate:required_score}}</li>
			</ul>
		</div>
		<button ng-click="changeVaultPassword(oldVaultPass,newVaultPass,newVaultPass2)" ng-disabled="vault_key_score.score < minimal_value_key_strength"
				>{{ 'change' | translate}}
		</button>
		<div ng-show="change_pw.total > 0">
			{{'warning.leave' | translate}}<br />
			{{ 'processing' | translate}} {{cur_state.process}}
			<div progress-bar="cur_state.calculated" index="cur_state.current" total="cur_state.total"></div>
			{{ 'total.progress' | translate}}
			<div progress-bar="change_pw.percent" index="change_pw.done" total="change_pw.total"></div>
		</div>

		<h3>{{'delete.vault' | translate}}</h3>
		<b>{{ 'vault.remove.notice' | translate }}</b>
		<label>{{'vault.password' | translate}}</label>
		<input type="password" ng-model="$parent.delete_vault_password">
		<input type="checkbox" ng-model="$parent.confirm_vault_delete"> {{'delete.vault.checkbox' | translate}}<br />
		<button class="btn btn-danger" ng-click="delete_vault()">{{'delete.vault.confirm' | translate}}</button>
		<div ng-show="remove_pw">
			{{'deleting.pw' | translate:translationData}}
		<div progress-bar="remove_pw.percent" index="remove_pw.done" total="remove_pw.total"></div>
		</div>
	</div>
	<div class="col-xs-12 col-md-6">
		<h3>{{ 'about.passman' | translate}}</h3>
		<p>
			{{ 'version' | translate}}: <b>{{passman_version}}</b><br/>
			<br/>
			<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6YS8F97PETVU2"
			   target="_blank" class="link">{{ 'donate.support' | translate}}</a><br/>
		</p>
		<h3>{{ 'bookmarklet' | translate}}</h3>
		<div><p>{{ 'bookmarklet.info1' | translate}}<br/>
			{{ 'bookmarklet.info2' | translate}}
			<br/></p>
		</div>
		<div><p ng-bind-html="bookmarklet" style="margin-top: 5px"></p></div>
	</div>
</div>