<div ng-controller="ImportCtrl">
	<div class="row">
		<div class="col-xs-6">
			<label>Import type
				<select ng-init="importerType" ng-model="importerType"
						ng-change="setImporter(importerType)">
					<option ng-repeat="importer in available_importers"
							value="{{importer}}">
						{{importer.name}}
					</option>
				</select></label>
			<div><b>{{selectedImporter.description}}</b></div>
			<input ng-if="selectedImporter" type="file" file-select
				   success="fileLoaded" error="fileLoadError"
				   progress="fileSelectProgress"><br/>
			<button class="button" ng-click="startImport()"
					ng-if="selectedImporter">Import
			</button>

			<div ng-if="file_read_progress.percent > 0">
				Read progress
				<div progress-bar="file_read_progress.percent"></div>
				<br />
				{{ file_read_progress.loaded }} / {{ file_read_progress.total }}
			</div>
			<div ng-if="import_progress.progress > 0">
				Upload progress
				<div progress-bar="import_progress.progress"></div>
				<br />
				{{ import_progress.loaded }} / {{ import_progress.total }}
			</div>
		</div>
		<div class="col-xs-6">
			<div ng-if="log" class="import_log">
				<textarea id="import_log" auto-scroll="log">{{log.join('\n')}}</textarea>
			</div>
		</div>
	</div>
</div>