<div class="password_settings">
	<div class="col-xs-12 col-sm-5 col-lg-4 password-settings-padding-left-fix">
		<label>
			<span class="label">{{ 'password.generation.length' | translate}}</span><br />
			<input type="number" ng-model="vault_settings.pwSettings.length" min="1">

		</label>
		<label>
			<span class="label">{{ 'password.generation.min_digits' | translate}}</span><br />
			<input type="number" ng-model="vault_settings.pwSettings.minimumDigitCount" min="0">

		</label>
		<label>
			<span class="label">Generate password on creation</span><br />
			<input type="checkbox" ng-model="vault_settings.pwSettings.generateOnCreate" min="0">

		</label>
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-6">
		<label>
			<input type="checkbox"
				   ng-model="vault_settings.pwSettings.useUppercase">
			<span class="label sm">{{ 'password.generation.uppercase' | translate}}</span>
		</label>
		<label>
			<input
					ng-model="vault_settings.pwSettings.useLowercase" type="checkbox"
					id="lower">
			<span class="label sm">{{ 'password.generation.lowercase' | translate}}</span>
		</label>
		<label>
			<input ng-model="vault_settings.pwSettings.useDigits" type="checkbox"
				   id="digits">
			<span class="label sm">{{ 'password.generation.digits' | translate}}</span>
		</label>
		<label>
			<input type="checkbox" id="special"
				   ng-model="vault_settings.pwSettings.useSpecialChars">
			<span class="label sm">{{ 'password.generation.special' | translate}}</span>
		</label>
		<label>
			<input type="checkbox" id="ambig"
				   ng-model="vault_settings.pwSettings.avoidAmbiguousCharacters">
			<span class="label sm">{{ 'password.generation.ambiguous' | translate}}</span>
		</label>
		<label>
			<input type="checkbox" ng-model="vault_settings.pwSettings.requireEveryCharType"
				   id="reqevery">
			<span class="label sm">{{ 'password.generation.require_same' | translate}}</span>
		</label>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<button class="button" ng-click="saveVaultSettings()">{{ 'save' | translate}}</button>
	</div>
</div>