<div class="password_settings">
	<div class="col-xs-12 col-sm-5 col-lg-4 password-settings-padding-left-fix">
		<div class="setting-group">
			<label>
				<span class="label">{{ 'password.generation.length' | translate}}</span><br />
				<input type="number" ng-model="vault_settings.pwSettings.length" min="1">
			</label>
		</div>

		<div class="setting-group">
			<label>
				<span class="label">{{ 'password.generation.min_digits' | translate}}</span><br />
				<input type="number" ng-model="vault_settings.pwSettings.minimumDigitCount" min="0">
			</label>
		</div>

		<input id="pwSettings.generateOnCreate" class="checkbox" type="checkbox"
			   ng-model="vault_settings.pwSettings.generateOnCreate">
		<label for="pwSettings.generateOnCreate">{{'password.generation.on_create' | translate}}</label>
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-6 display-grid">
		<input id="pwSettings.useUppercase" class="checkbox" type="checkbox"
			   ng-model="vault_settings.pwSettings.useUppercase">
		<label for="pwSettings.useUppercase">{{'password.generation.uppercase' | translate}}</label>

		<input id="pwSettings.useLowercase" class="checkbox" type="checkbox"
			   ng-model="vault_settings.pwSettings.useLowercase">
		<label for="pwSettings.useLowercase">{{'password.generation.lowercase' | translate}}</label>

		<input id="pwSettings.useDigits" class="checkbox" type="checkbox"
			   ng-model="vault_settings.pwSettings.useDigits">
		<label for="pwSettings.useDigits">{{'password.generation.digits' | translate}}</label>

		<input id="pwSettings.useSpecialChars" class="checkbox" type="checkbox"
			   ng-model="vault_settings.pwSettings.useSpecialChars">
		<label for="pwSettings.useSpecialChars">{{'password.generation.special' | translate}}</label>

		<input id="pwSettings.avoidAmbiguousCharacters" class="checkbox" type="checkbox"
			   ng-model="vault_settings.pwSettings.avoidAmbiguousCharacters">
		<label for="pwSettings.avoidAmbiguousCharacters">{{'password.generation.ambiguous' | translate}}</label>

		<input id="pwSettings.requireEveryCharType" class="checkbox" type="checkbox"
			   ng-model="vault_settings.pwSettings.requireEveryCharType">
		<label for="pwSettings.requireEveryCharType">{{'password.generation.require_same' | translate}}</label>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<button class="button" ng-click="saveVaultSettings()">{{ 'save' | translate}}</button>
	</div>
</div>
