<div class="password_settings">
	<div class="col-xs-12 col-sm-5 col-lg-4">
		<label>
			<span class="label">Password length</span><br />
			<input type="number" ng-model="vault_settings.pwSettings.length" min="1">

		</label>
		<label>
			<span class="label">Minimum amount of digits</span><br />
			<input type="number" ng-model="vault_settings.pwSettings.minimumDigitCount" min="0">

		</label>
		<label>
			<span class="label">Generate password on creation</span><br />
			<input type="checkbox" ng-model="vault_settings.pwSettings.generateOnCreate" min="0">

		</label>
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-6">
		<label>
			<input type="checkbox"
				   ng-model="vault_settings.pwSettings.useUppercase">
			<span class="label sm">Use uppercase letters</span>
		</label>
		<label>
			<input
					ng-model="vault_settings.pwSettings.useLowercase" type="checkbox"
					id="lower">
			<span class="label sm">Use lowercase letters</span>
		</label>
		<label>
			<input ng-model="vault_settings.pwSettings.useDigits" type="checkbox"
				   id="digits">
			<span class="label sm">Use numbers</span>
		</label>
		<label>
			<input type="checkbox" id="special"
				   ng-model="vault_settings.pwSettings.useSpecialChars">
			<span class="label sm">Use special characters</span>
		</label>
		<label>
			<input type="checkbox" id="ambig"
				   ng-model="vault_settings.pwSettings.avoidAmbiguousCharacters">
			<span class="label sm">Avoid ambiguous characters</span>
		</label>
		<label>
			<input type="checkbox" ng-model="vault_settings.pwSettings.requireEveryCharType"
				   id="reqevery">
			<span class="label sm">Require every character type</span>
		</label>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<button class="button" ng-click="saveVaultSettings()">Save</button>
	</div>
</div>