<div class="row">
	<div class="col-xs-12">
		<p>{{ 'tool.intro' | translate}}</p>
	</div>
	<div class="col-xs-12" ng-init="minStrength = 3;">
		{{ 'min.strength' | translate}} <input type="number" min="1" max="4" value="3"
										ng-model="minStrength">
		<button ng-click="startScan(minStrength)">{{ 'scan.start' | translate}}</button>
	</div>
</div>
<div class="row" ng-show="scan_result">
	<div class="col-xs-12">
		<p class="spacer-top-30"><b>{{ 'scan.result.msg' | translate}}</b><br/>
			<span translate="scan.result"
				 translate-values='{ scan_result: scan_result.length}'></span>
			<br/>
		</p>
		<table class="table scan-result-table spacer-top-30">
			<thead>
			<tr>
				<td><b>{{ 'label' | translate}}</b></td>
				<td><b>{{ 'score' | translate}}</b></td>
				<td><b>{{ 'password' | translate}}</b></td>
				<td><b>{{ 'action' | translate}}</b></td>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="result in scan_result | orderBy:'password_zxcvbn_result.score'">
				<td class="label-audit">{{result.label}}</td>
				<td class="score">
					<ng-password-meter password="result.password"></ng-password-meter>
				</td>
				<td>
					<span credential-field value="result.password" secret="'true'"></span>
				</td>
				<td>
					<div>
						<a href="#/vault/{{ active_vault.guid }}/edit/{{result.guid}}" class="link">
							<i class="fa fa-edit"></i>
						</a>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>

</div>
