<div class="row">
	<div class="col-xs-12">
		<p>{{ 'tool.intro' | translate}}</p>
	</div>
	<div class="col-xs-12" ng-init="minStrength = 3;">
		{{ 'min.strength' | translate}} <input type="number" min="1" max="4" value="3"
										ng-model="minStrength">
		<button ng-click="startScan(minStrength)">{{ 'scan.start' | translate}}</button>
	</div>
</div>
<div class="row" ng-show="scan_result">
	<div class="col-xs-12">
		<p>{{ 'scan.result.msg' | translate}}<br/>
			<span translate="scan.result"
				 translate-values='{ scan_result: scan_result.length}'></span>
			<br/>
		</p>
		<table class="table scan-result-table">
			<thead>
			<tr>
				<td>{{ 'label' | translate}}</td>
				<td>{{ 'score' | translate}}</td>
				<td>{{ 'password' | translate}}</td>
				<td>{{ 'action' | translate}}</td>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="result in scan_result | orderBy:'password_zxcvbn_result.score'">
				<td>{{result.label}}</td>
				<td class="score">
					<ng-password-meter
							password="result.password"></ng-password-meter>
				</td>
				<td>
					<span credential-field value="result.password"
						  secret="'true'"></span>
				</td>
				<td>
					<a class="link" ng-href="#/vault/{{active_vault.guid}}/edit/{{result.guid}}" tooltip="{{ 'edit.credential' | translate}}"><i  class="fa fa-edit"></i></a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>

</div>
