<div class="cell icon-category-auth"></div>
<div style="display: none" id="iconPicker" title="{{ 'pick.icon' | translate }}">
		<div class="iconList">
			<div ng-repeat="(groupName, icons) in iconGroups">
				<h2 style="clear: both" id="{{groupName}}">{{groupName}}</h2>
				<div class="icon" ng-repeat="icon in icons" ng-click="selectIcon(icon)">
					<img ng-src="{{icon.url}}" height="32">
				</div>
			</div>
		</div>
		<div class="iconModifier">
			<!--
			<div ng-repeat="(groupName, icons) in iconGroups">
				<a ng-click="jumpToGroup(groupName)">{{groupName}}</a>
			</div>-->
			<div ng-if="selectedIcon">
					{{ 'selected.icon' | translate}}: <br />

				<img ng-src="{{selectedIcon.url}}" height="32">
				<br />
				<button ng-click="useIcon()" ng-if="selectedIcon">{{ 'use.icon' | translate}}</button>
			</div>
		</div>
	</div>
