<div class="pass-meter {{masterClass}}">
	<div class="{{colClass}} pass-meter-col {{first}}">
		<div class="indicator"></div>
	</div>
	<div class="{{colClass}} pass-meter-col {{second}}">
		<div class="indicator"></div>
	</div>
	<div class="{{colClass}} pass-meter-col {{third}}">
		<div class="indicator"></div>
	</div>
	<div class="{{colClass}} pass-meter-col {{fourth}}">
		<div class="indicator"></div>
	</div>
	<div class="details" ng-click="toggleScore()">Details</div>
	<div class="pass-meter-message">{{message}}</div>
	<div class="detail_box" ng-show="scoreShown">{{score}}</div>
</div>