<div class="row file_tab">
	<div class="col-xs-12 col-md-6">
		<input type="file" file-select success="fileLoaded" error="fileLoadError" progress="fileSelectProgress">
		<span ng-if="fileprogress.file_percent > 0">
			<div progress-bar="fileprogress.file_percent"></div>
		</span>
	</div>
</div>
<div class="row files" ng-if="storedCredential.files.length > 0">
	<div class="col-xs-12 table">
		<table>
			<thead use-theme>
			<tr>
				<th class="field_label">Filename</th>
				<th class="field_value">Upload date</th>
				<th class="field_secret">Size</th>
				<th class="field_actions">Actions</th>
			</tr>
			</thead>
			<tr ng-repeat="file in storedCredential.files">
				<td>
					<a href="#" editable-text="file.filename">{{ file.filename || "empty" }}</a>
				</td>
				<td>
					{{file.created}}
				</td>
				<td>{{file.size | bytes}}</td>
				<td class="field_actions">
					<i class="fa fa-trash" ng-click="deleteFile(file)"></i>
				</td>
			</tr>
		</table>
	</div>
</div>