<div class="row file_tab">
	<div class="col-xs-12 col-md-6">
		<input class="inputfile" id="file" type="file" file-select success="fileLoaded" error="fileLoadError" progress="fileSelectProgress">
		<label for="file"><i class="fa fa-upload" aria-hidden="true"></i> {{'select.file' | translate}}</label>
		<span ng-if="fileprogress.file_percent > 0">
			<div progress-bar="fileprogress.file_percent"></div>
		</span>
	</div>
</div>
<div class="row files" ng-if="storedCredential.files.length > 0">
	<div class="col-xs-12 table">
		<table>
			<thead use-theme>
			<tr>
				<th class="field_label">{{ 'file.name' | translate }}</th>
				<th class="field_value">{{ 'upload.date' | translate}}</th>
				<th class="field_secret">{{ 'size' | translate}}</th>
				<th class="field_actions">{{ 'actions' | translate}}</th>
			</tr>
			</thead>
			<tr ng-repeat="file in storedCredential.files">
				<td>
					<a href="#" editable-text="file.filename">{{ file.filename || "empty" }}</a>
				</td>
				<td>
					{{file.created * 1000 | date:'dd-MM-yyyy @ HH:mm:ss'}}
				</td>
				<td>{{file.size | bytes}}</td>
				<td class="field_actions">
					<i class="fa fa-trash" ng-click="deleteFile(file)"></i>
				</td>
			</tr>
		</table>
	</div>
</div>