<div class="row">
	<div class="col-xs-12">
		<div class="col-xs-4 nopadding">
			<span class="otpText">{{ 'upload.qr' | translate}}</span>
			<select ng-model="otpType">
				<option value="qrcode">Upload QR code</option>
				<option value="secret">Enter secret</option>
			</select>
		</div>
		<div class="col-xs-6 nopadding">
			<input type="file" qrread on-read="parseQR(qrdata)"
				   class="input_secret"
				   on-read="parseQR(qrdata)" ng-show="otpType === 'qrcode'"/>
			<input type="text" ng-model="storedCredential.otp.secret" ng-show="otpType === 'secret'">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12" ng-if="storedCredential.otp">
		<b>{{ 'current.qr' | translate}}</b>
	</div>
</div>
<div class="row">
	<div class="col-xs-5 col-sm-4 col-md-2" ng-if="storedCredential.otp.qr_uri">
		<img ng-src="{{storedCredential.otp.qr_uri.image}}"/>
	</div>
	<div class="col-sm-4 col-sm-5 col-md-5">
		<table ng-show="storedCredential.otp">
			<tr ng-show="storedCredential.otp.type">
				<td>{{ 'type' | translate}}: </td>
				<td>{{storedCredential.otp.type}}</td>
			</tr>
			<tr ng-show="storedCredential.otp.label">
				<td>{{ 'label' | translate}}: </td>
				<td>{{storedCredential.otp.label}}</td>
			</tr>
			<tr ng-show="storedCredential.otp.issuer">
				<td>{{ 'issuer' | translate}}: </td>
				<td>{{storedCredential.otp.issuer}}</td>
			</tr>
			<tr ng-show="storedCredential.otp.secret">
				<td>{{ 'secret' | translate}}: </td>
				<td>{{storedCredential.otp.secret}}</td>
			</tr>
			<tr ng-show="storedCredential.otp.secret">
				<td>{{ 'otp' | translate}}: </td>
				<td><span otp-generator
						  secret="storedCredential.otp.secret"></span>
				</td>
			</tr>
		</table>
	</div>
</div>