<div class="row">
	<div class="col-xs-12 col-md-5 col-lg-5">

		<label>Password</label>
		<div>
			<password-gen ng-model="storedCredential.password"
						  settings="pwSettings" callback="pwGenerated"></password-gen>
			<ng-password-meter
					password="storedCredential.password"></ng-password-meter>
		</div>
		<label>Repeat password</label>
		<div>
			<input type="password" ng-model="storedCredential.password_repeat">
		</div>
		<label>Renew interval</label>
		<div>

		</div>
	</div>
	<div class="col-xs-12 col-md-7 col-lg-7">
		Password generation settings

		<div class="row">
		<div class="password_settings">
			<div class="col-xs-12 col-sm-5 col-lg-4">
				<label>
					<span class="label">Password length</span><br />
					<input type="number" ng-model="pwSettings.length" min="1">

				</label>
				<label>
					<span class="label">Minimum amount of digits</span><br />
					<input type="number" ng-model="pwSettings.minimumDigitCount" min="0">

				</label>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-6">
				<label>
					<input type="checkbox"
						   ng-model="pwSettings.useUppercase">
					<span class="label sm">Use uppercase letters</span>
				</label>
				<label>
				<input
						ng-model="pwSettings.useLowercase" type="checkbox"
						id="lower">
					<span class="label sm">Use lowercase letters</span>
				</label>
				<label>
				<input ng-model="pwSettings.useDigits" type="checkbox"
					   id="digits">
					<span class="label sm">Use numbers</span>
				</label>
				<label>
				<input type="checkbox" id="special"
					   ng-model="pwSettings.useSpecialChars">
					<span class="label sm">Use special characters</span>
				</label>
				<label>
				<input type="checkbox" id="ambig"
					   ng-model="pwSettings.avoidAmbiguousCharacters">
					<span class="label sm">Avoid ambiguous characters</span>
				</label>
				<label>
					<input type="checkbox" ng-model="pwSettings.requireEveryCharType"
						   id="reqevery">
					<span class="label sm">Require every character type</span>
				</label>
			</div>
		</div>
	</div>
	</div>
</div>
