<div class="row">
	<div class="col-xs-12 col-md-5 col-lg-5">

		<div class="setting-group">
			<label>{{ 'password' | translate}}</label>
			<div>
				<password-gen ng-model="storedCredential.password"
							  settings="pwSettings" callback="pwGenerated"></password-gen>
				<ng-password-meter
						password="storedCredential.password"></ng-password-meter>
			</div>
		</div>

		<div class="setting-group">
			<label>{{ 'password.r' | translate}}</label>
			<input type="password" ng-model="storedCredential.password_repeat">
		</div>

		<label>{{ 'expire.date' | translate}}</label>
		<div>
			<span datetime-picker ng-model="storedCredential.expire_time" class="link"
				  future-only ng-show="storedCredential.expire_time == 0"

				  close-on-select="false"
			> {{'no.expire.date' | translate}}</span>
			<span datetime-picker ng-model="storedCredential.expire_time"  class="link"
				  future-only ng-show="storedCredential.expire_time != 0"

				  close-on-select="false"> {{ storedCredential.expire_time | date:'dd-MM-yyyy @ HH:mm:ss'}}</span>

		</div>
		<label>{{ 'renew.interval' | translate}}</label>
		<div>
			<input type="number" ng-model="renewIntervalValue" min="0" ng-change="updateInterval(renewIntervalValue, renewIntervalModifier)">
			<select ng-model="renewIntervalModifier" ng-change="updateInterval(renewIntervalValue, renewIntervalModifier)">
				<option value="0">{{ 'disabled' | translate}}</option>
				<option value="86400">{{ 'days' | translate }}</option>
				<option value="604800">{{ 'weeks' | translate}}</option>
				<option value="2592000">{{ 'months' | translate}}</option>
				<option value="31622400">{{ 'years' | translate}}</option>
			</select>
		</div>
	</div>
	<div class="col-xs-12 col-md-7 col-lg-7">
		<b>{{ 'generation.settings' | translate}}</b>

		<div class="row">
		<div class="password_settings">
			<div class="col-xs-12 col-sm-5 col-lg-4">
				<label>
					<span class="label">{{ 'password.generation.length' | translate}}</span><br />
					<input type="number" ng-model="pwSettings.length" min="1">

				</label>
				<br>
				<label>
					<span class="label">{{'password.generation.min_digits' | translate}}</span><br />
					<input type="number" ng-model="pwSettings.minimumDigitCount" min="0">

				</label>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-6 display-grid">
				<input id="pwSettings.useUppercase" class="checkbox" type="checkbox"
						  ng-model="pwSettings.useUppercase">
				<label for="pwSettings.useUppercase">{{'password.generation.uppercase' | translate}}</label>

				<input id="pwSettings.useLowercase" class="checkbox" type="checkbox"
					   ng-model="pwSettings.useLowercase">
				<label for="pwSettings.useLowercase">{{'password.generation.lowercase' | translate}}</label>

				<input id="pwSettings.useDigits" class="checkbox" type="checkbox"
					   ng-model="pwSettings.useDigits">
				<label for="pwSettings.useDigits">{{'password.generation.digits' | translate}}</label>

				<input id="pwSettings.useSpecialChars" class="checkbox" type="checkbox"
					   ng-model="pwSettings.useSpecialChars">
				<label for="pwSettings.useSpecialChars">{{'password.generation.special' | translate}}</label>

				<input id="pwSettings.avoidAmbiguousCharacters" class="checkbox" type="checkbox"
					   ng-model="pwSettings.avoidAmbiguousCharacters">
				<label for="pwSettings.avoidAmbiguousCharacters">{{'password.generation.ambiguous' | translate}}</label>

				<input id="pwSettings.requireEveryCharType" class="checkbox" type="checkbox"
					   ng-model="pwSettings.requireEveryCharType">
				<label for="pwSettings.requireEveryCharType">{{'password.generation.require_same' | translate}}</label>
			</div>
		</div>
	</div>
	</div>
</div>
