<div class="row">
	<div class="col-xs-12 col-md-5 col-lg-5">

		<label>{{ 'password' | translate}}</label>
		<div>
			<password-gen ng-model="storedCredential.password"
						  settings="pwSettings" callback="pwGenerated"></password-gen>
			<ng-password-meter
					password="storedCredential.password"></ng-password-meter>
		</div>
		<label>{{ 'password.r' | translate}}</label>
		<div>
			<input type="password" ng-model="storedCredential.password_repeat">
		</div>
		<label>{{ 'expire.date' | translate}}</label>
		<div>
			<span datetime-picker ng-model="storedCredential.expire_time" class="link"
				  future-only ng-show="storedCredential.expire_time == 0"

				  close-on-select="false"
			> {{'no.expire.date' | translate}}</span>
			<span datetime-picker ng-model="storedCredential.expire_time"  class="link"
				  future-only ng-show="storedCredential.expire_time != 0"

				  close-on-select="false"> {{ storedCredential.expire_time | date:'dd-MM-yyyy @ HH:mm:ss'}}</span>

		</div>
		<label>{{ 'renew.interval' | translate}}</label>
		<div>
			<input type="number" ng-model="renewIntervalValue" min="0" ng-change="updateInterval(renewIntervalValue, renewIntervalModifier)">
			<select ng-model="renewIntervalModifier" ng-change="updateInterval(renewIntervalValue, renewIntervalModifier)">
				<option value="0">{{ 'disabled' | translate}}</option>
				<option value="86400">{{ 'days' | translate }}</option>
				<option value="604800">{{ 'weeks' | translate}}</option>
				<option value="2592000">{{ 'months' | translate}}</option>
				<option value="31622400">{{ 'years' | translate}}</option>
			</select>
		</div>
	</div>
	<div class="col-xs-12 col-md-7 col-lg-7">
		<b>{{ 'generation.settings' | translate}}</b>

		<div class="row">
		<div class="password_settings">
			<div class="col-xs-12 col-sm-5 col-lg-4">
				<label>
					<span class="label">{{ 'password.generation.length' | translate}}</span><br />
					<input type="number" ng-model="pwSettings.length" min="1">

				</label>
				<label>
					<span class="label">{{'password.generation.min_digits' | translate}}</span><br />
					<input type="number" ng-model="pwSettings.minimumDigitCount" min="0">

				</label>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-6">
				<label>
					<input type="checkbox"
						   ng-model="pwSettings.useUppercase">
					<span class="label sm">{{ 'password.generation.uppercase' | translate}}</span>
				</label>
				<label>
				<input
						ng-model="pwSettings.useLowercase" type="checkbox"
						id="lower">
					<span class="label sm">{{ 'password.generation.lowercase' | translate}}</span>
				</label>
				<label>
				<input ng-model="pwSettings.useDigits" type="checkbox"
					   id="digits">
					<span class="label sm">{{ 'password.generation.digits' | translate}}</span>
				</label>
				<label>
				<input type="checkbox" id="special"
					   ng-model="pwSettings.useSpecialChars">
					<span class="label sm">{{ 'password.generation.special' | translate}}</span>
				</label>
				<label>
				<input type="checkbox" id="ambig"
					   ng-model="pwSettings.avoidAmbiguousCharacters">
					<span class="label sm">{{ 'password.generation.ambiguous' | translate}}</span>
				</label>
				<label>
					<input type="checkbox" ng-model="pwSettings.requireEveryCharType"
						   id="reqevery">
					<span class="label sm">{{ 'password.generation.require_same' | translate}}</span>
				</label>
			</div>
		</div>
	</div>
	</div>
</div>
