<div class="row">
	<div class="col-xs-12 col-md-6">
		<input type="checkbox" ng-model="share_settings.linkSharing.enabled">
		Enable link sharing.<br />
		<input type="text" ng-model="share_link" select-on-click ng-if="share_settings.linkSharing.enabled">
		<div>
			Expire settings:
			<select ng-model="share_settings.linkSharing.settings.type">
				<option value="null">Does not expire</option>
				<option value="view_amount">Expire after a certain amount of
					views
				</option>
				<option value="date">Expire after a date</option>
			</select>
		</div>
		<div ng-show="share_settings.linkSharing.settings.type == 'date'">
			Share until date
			<span datetime-picker
				  ng-model="share_settings.linkSharing.settings.value"
				  class="link"
				  future-only
				  ng-show="!share_settings.linkSharing.settings.value"

				  close-on-select="false"
			> No expire date set</span>

		</div>
		<div ng-show="share_settings.linkSharing.settings.type == 'view_amount'">
			Share until views
			<input type="number" ng-model="share_settings.linkSharing.settings.value">
		</div>
	</div>
</div>