<div class="row">
	<div class="col-xs-12 col-md-6">
		<label><input type="checkbox" ng-model="share_settings.linkSharing.enabled">
		{{ 'enable.link.sharing' | translate}}.</label><br/>
		<div class="pull-left col-xs-6 nopadding">
			<span credential-field value="share_link" secret="false" use-input="true" input-placeholder="'click.share' | translate" ></span>
		</div>

		<div ng-show="share_settings.linkSharing.enabled" class="clearfix">
			{{ 'share.until.date' | translate}}
			<span datetime-picker
				  ng-model="share_settings.linkSharing.settings.expire_time"
				  class="link"
				  future-only
				  close-on-select="false"
				  timestamp="true"
			>{{ share_settings.linkSharing.settings.expire_time | date:'dd-MM-yyyy @ HH:mm:ss' }}</span>

		</div>
		<div ng-show="share_settings.linkSharing.enabled">
			{{ 'expire.views' | translate}}<br />
			<input type="number"
				   ng-model="share_settings.linkSharing.settings.expire_views">
		</div>
		<div  ng-if="share_settings.linkSharing.enabled">
			<table>
				<tr>
					<td><input type="checkbox"
							   ng-click="setPermission(share_settings.linkSharing.settings.acl, default_permissions.permissions.FILES)"
							   ng-checked="hasPermission(share_settings.linkSharing.settings.acl, default_permissions.permissions.FILES)">
					</td>
					<td>
						{{ 'show.files' | translate}}
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>