.button-geen{
  background: #37ce02;
  color: #fff;
}
.button-geen:hover{
  background: lighten(#37ce02, 2%);
  color: #fff;
}

.button-red{
  background: #ce3702;
  color: #fff;
}
.button-red:hover{
  background: lighten(#ce3702, 2%);
  color: #fff;
}