.popovermenu {
  margin-top: 7px;
  height: 100px;
  width: 100px;
  right: -2px !important;
  ul {
    display: block;
    width: 100px;
    height: 75px;
    li{
      padding: 0px;
    }
    .menuitem{
        font-size: 12px;
        display: inline;
    }
  }
  .action {
    padding: 10px;
    margin: -10px;
  }
}