.pw-gen{
  overflow:hidden;
  input{
    width: calc(100% - 80px) !important;
    float: left;
    background: #fff;
    color: #555;
    cursor: text;
    font-family: inherit;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 3px;
    margin: 3px 3px 3px 0;
    padding: 7px 6px 5px;
    font-size: 13px;
    @include border-right-radius(0)
  }
  .generate_pw{
    float: left;
    margin-top: 3px;
    margin-left: -3px;
    .cell{
      padding: 5px;
      display: inline-block;
      font-size: 14px;
      border: 1px solid #ddd;
      background-color: lighten(#ddd, 5%);
      cursor: pointer;
    }
    .cell:hover{
      color: rgb(0, 102, 255);
    }
    .cell:last-child{
      @include border-right-radius(3px);
    }
  }
}