.tab_header {
  margin: 44px 0 0;
  list-style: none;
  padding: 0;
  li.tab:first-child {
    margin-left: 0;
  }
  li.tab {
    /*@include border-top-radius(2px);*/
    float: left;
    border-bottom-width: 0;
    margin: 0;
    padding: 10px 10px 10px 10px;

    cursor: pointer;
    border-right: 1px solid #eee;
    -webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
    .indicator {
      display: none;
    }
  }
  li.active {
    color: #fff;
    position: relative;
    .indicator {
      display: inline-block;
      position: absolute;
      height: 7px;
      left: 0;
      right: 0;
      bottom: -1px;
    }
  }
}

.tab_container {
  border: 1px solid;
  border-color: #eee;
  border-top-color: #0082c9;
  border-bottom: 0;
  clear: both;
  padding: 0 1em;
}
